
.edit__inner {
    margin-top: 30px;
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.edit__content {
    padding: 20px 10px;
}

.edit-title {
    font-size: 20px;
    padding: 15px 0;
}

.edit__form-label {
    display: block;
    margin-top: 25px;
    margin-bottom: 10px;
}

.edit__form-label > span {
    display: inline-block;
    margin-left: 10px;
    border: none;
    background-color:red;
    color: white;
    border-radius: 3px;
    font-size: 12px;
    padding: 2px;
    /* height: 16px;
    line-height: 16px; */
}

.edit__form-date,
.edit__form-weight,
.edit__form-calories,
.edit__form-exercise-time,
.edit__form-exercise-content {
    padding: 7px;
    border: 1px solid rgba(224, 223, 222, 1);
    border-radius: 3px;
}

.edit__form-date {
    width: calc(100% - 10px * 2);
}

.edit__form-date::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.edit__form-weight {
    width: calc(100% - 10px * 2 - 24px);
}

.edit__form-calories {
    width: calc(100% - 10px * 2 - 24px);
}

.edit__form-exercise-time {
    width: calc(100% - 10px * 2);
}

.edit__form-exercise-content {
    height: 100px;
    width: calc(100% - 10px * 2);
}

.edit__form-exercise-content::placeholder {
    color: rgba(205, 205, 205, 1);
}

.edit__form-error {
    list-style: none;
    color: red;
    font-size: 12px;
}

.edit__form-error > li {
    margin-top: 10px;
}

.edit__form-group-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.edit__form-return,
.edit__form-update {
    border-radius: 5px;
    font-size: 16px;
    width: 110px;
}

.edit__form-return {
    padding: 7px;
    background-color: rgba(224, 223, 222, 1);
    color: rgba(51, 51, 51, 1);
    text-decoration: none;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(224, 223, 222, 1);
}

.edit__form-update {
    margin-left: 10px;
    padding: 3px;
    border: none;
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(to right, rgba(163, 166, 225, 1), rgba(255, 171, 217, 1));
    cursor: pointer;

}

.edit__form2 {
    position: relative;
}

.edit__form-delete {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    position: absolute;
    top: -25px;
    /* left: 0px; */
    left: calc(100% - (10px * 2 + 18px));
    cursor: pointer;
}

.edit__form-delete > img {
    width: 18px;
    height: 18px;
}


